<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://warningtomyphone.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/028809ba-8a6a-4e22-9a82-4aaf0db2b5de/resourceGroups/warningtomyphone/providers/Microsoft.Web/sites/warningtomyphone</ResourceId>
    <UserName>$warningtomyphone</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://warningtomyphone.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>